{% extends 'store/main.html'%}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <div class="col-lg-4 align-items:center">

          <img class="thumbnail" src="{{object.image.url}}" alt="">
     </div>

          <h1><strong>{{object.name}}</strong></h1>
          <h5>{{object.desc}}</h5>

          <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>



  </body>
</html>
{% endblock content %}
