{% extends 'store/main.html'%}

{% block content %}

  <div class="row">
    {% for item in object_list %}
      <div class="col-lg-4">
        <div class="thumbnail">
          <img class="thumbnail" src="{{item.image.url}}" alt="">
          {% if item.offer %}
            <div class="top-left">offer</div>
          {% endif %}
        </div>

      <div class="box-element product">
        <h6><strong>{{item.name}}</strong></h6>
        <h6>no:of pieces {{item.piece}}</h6>
        <hr>
        <button data-product={{item.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart" >Add to Cart</button>
				<a class="btn btn-outline-success" href="productpage/{{item.name}}">View</a>
        {% if item.offer %}
        <h5 style="display: inline-block; float: right">
          <span class="mr-1">
            <del>${{item.price|floatformat:2}}</del>
          </span>
          <span>${{item.discountprice}}</span>
        {% else %}
          <h5 style="display: inline-block; float: right">${{item.price}}</h5>
        {% endif %}
				<!-- <h4 style="display: inline-block; float: right"><strong>${{item.price}}</strong></h4> -->
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
